#main-container {
    text-align: center;
    height: 100vh;
    background: linear-gradient(45deg, rgb(47, 9, 73) 0%, rgb(61, 148, 54) 70%, rgb(3, 255, 179) 100%);
    background-repeat: no-repeat;
}

#output-field {
    background-color: rgba(255, 255, 255, 0.24);
    margin: auto;
    width: 300px;
    border-radius: 10px;


}

.title {
    background-color: rgba(0, 0, 0, 0.267);
    color: white;
}

.code-input {
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.281);
    border-color: rgba(0, 255, 255, 0);
    text-align: center;
}

.code-input:focus {
    outline: 0px;

}